
{% extends 'base.html' %}
     {% block content %} 
<h1>Books </h1>
we will show the books for db here
{% for Book in books %}
    <ul>
        <li>{{Book.title}}</li>
        <li>{{Book.description}}</li>
        <li>{{Book.author}}</li>
        <li>{{Book.price}}</li>
         <li>{{Book.in_stock}}</li>
          <li>{{Book.no_of_pages}}</li>
    </ul>
{% endfor %}
    {% comment %} <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non temporibus repudiandae totam porro omnis, numquam deleniti asperiores doloribus vero at blanditiis corrupti architecto deserunt quas facilis recusandae consectetur commodi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique necessitatibus debitis aspernatur deserunt hic asperiores tempore placeat quisquam earum harum maiores et voluptatem quibusdam, delectus mollitia accusamus architecto aliquam dolores?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, exercitationem. Odit porro tempore repudiandae at debitis asperiores animi odio, qui ea facilis. Vel, illo! Est dolores voluptate esse ut aperiam!
    </p> {% endcomment %}
{% endblock %}