
     
{% extends 'base.html' %}
     {% block content %} 
    <h1>Welcome to First Django app </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugiat vel autem, rem tenetur quo facere dolorum totam possimus et. Animi, totam! Rerum quis tenetur eligendi maiores impedit recusandae cumque!</p>
    <hr>
    <h2>learning using template</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum beatae modi voluptates totam voluptate fugiat quas aperiam ea, quo quis laboriosam ab cupiditate exercitationem eius eligendi est dignissimos molestiae perferendis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda et neque ipsam quisquam, consequatur placeat molestiae eum eveniet consectetur sit libero, minima tempora. Animi reprehenderit mollitia velit earum amet hic.</p>
   {% endblock %}
